<div id="{{fieldId}}"
     class="form-group {{#if error}}has-error has-feedback{{/if}}"
     data-multiple="{{#if field.formFieldMultiple}}true{{else}}false{{/if}}"  >

  <label for="{{fieldId}}">{{t fieldName}} {{#ifCond field.allowNull false}}*{{/ifCond}}</label>

  <we-image-selector-btn >{{t 'file.image.select.btn'}}</we-image-selector-btn>

  <button id="{{fieldId}}ImageBTNSelector"
          type="button"
          onclick="we.components.imageSelector.selectImageForField('#{{fieldId}}', '{{name}}');"
          class="btn btn-default"
          {{#unless field.formFieldMultiple}}
            {{#ifCond value 'null'}}{{else}}{{#if value}}style="display:none;"{{/if}}{{/ifCond}}
          {{/unless}} >
    {{t 'file.image.select.btn'}}
  </button>
  {{!-- Magic field to run the image field updater --}}
  <input name="{{name}}" type="hidden" value="null">

  <table id="{{fieldId}}ImageTable"
         class="table table-bordered"
         {{#ifCond value 'null'}}style="display:none;"{{/ifCond}}
         {{#unless value}}style="display:none;"{{/unless}}  >
    <thead><tr>
      <th>{{t 'Name'}}</th>
      <th>{{t 'thumbnail'}}</th>
      <th>{{t 'Actions'}}</th>
    </tr></thead>
    <tbody>
      {{#each value}}
        <tr>
          <td data-image-name>{{originalname}} : {{description}}</td>
          <td data-image-thumbnail><img alt="{{description}}" src="{{urls.thumbnail}}"></td>
          <td>
            <button onclick="we.components.imageSelector.removeImage(this, '#{{../fieldId}}')" type="button" class="btn btn-danger">{{t 'image.remove'}}</button>
            <input name="{{../name}}" type="hidden" value="{{id}}">
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{!-- each file template --}}
  <div id="{{fieldId}}ImageFieldTemplates" style="display:none;">
    <table><tr>
      <td data-image-name></td>
      <td data-image-thumbnail></td>
      <td>
        <button onclick="we.components.imageSelector.removeImage(this, '#{{fieldId}}')" type="button" class="btn btn-danger">{{t 'image.remove'}}</button>
      </td>
    </tr></table>
  </div>

  <p class="help-block">{{t help}}</p>

  {{{field-help-error error}}}
</div>