{{!-- Image selector --}}

<div aria-hidden="true" class="modal" id="imageSelectorFormModal">
  <div class="modal-dialog modal-lg image-selector-modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">{{t 'image.selector'}}</h4>
      </div>
      <div class="modal-body">
        <div class="image-uploader-messages"></div>

          <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#imageUploadTab" aria-controls="imageUploadTab" role="tab" data-toggle="tab">{{t 'image.uploader.title'}}</a></li>
              <li role="presentation">
                <a  id="imageFileListTabLink" href="#imageFileListTab" aria-controls="imageFileListTab" role="tab" data-toggle="tab" onclick="we.components.imageSelector.startImageBrowser('#imageFileListTab');">{{t 'image.selector.title'}}</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <br>

              {{!-- File uploader --}}
              <div role="tabpanel" class="tab-pane active" id="imageUploadTab">.
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                  <i class="glyphicon glyphicon-plus"></i>
                  <span>{{t 'image.upload.selector.btn'}}</span>
                  <!-- The file input field used as target for the file upload widget -->
                  <input class="fileupload" type="file" data-url="/api/v1/image" name="image">
                </span>
                <br>
                <br>
                <!-- The global progress bar -->
                <div class="progress" style="display:none;">
                  <div class="progress-bar progress-bar-success"></div>
                </div>
                <!-- The container for the uploaded files -->
                <div id="files" class="files"></div>
              </div>

              {{!-- File browser --}}
              <div role="tabpanel" class="tab-pane" id="imageFileListTab">
                <br>


                <div id="weImageBrowser" class="we-image-browser">111</div>

              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
<script>$(function() {
  we.components.imageSelector.init('#imageSelectorFormModal');
});</script>

{{!-- File selector --}}
<div aria-hidden="true" class="modal" id="fileSelectorFormModal">
  <div class="modal-dialog modal-lg file-selector-modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">{{t 'file.selector'}}</h4>
      </div>
      <div class="modal-body">
        <div class="file-uploader-messages"></div>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#fileUploadTab" aria-controls="fileUploadTab" role="tab" data-toggle="tab">{{t 'file.uploader.title'}}</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <br>
    <div role="tabpanel" class="tab-pane active" id="fileUploadTab">.
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>{{t 'file.upload.selector.btn'}}</span>
        <!-- The file input field used as target for the file upload widget -->
        <input class="fileupload" type="file" data-url="/api/v1/file" name="file">
      </span>
      <br>
      <br>
      <!-- The global progress bar -->
      <div class="progress" style="display:none;">
        <div class="progress-bar progress-bar-success"></div>
      </div>
      <!-- The container for the uploaded files -->
      <div id="files" class="files"></div>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</div>
<script>$(function() {
  we.components.fileSelector.init('#fileSelectorFormModal');
});</script>